.whatsapp_float {
  position: fixed;
  width: 90px;
  height: 90px;
  bottom: 0px;
  right: 0px;
  z-index: 100;
  transition: transform 0.2s;
}

.whatsapp_float:hover {
  transform: scale(1.1);
}

.whatsapp_image_icon {
  width: 100%;
  height: auto;
}