.scroll-button {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  left: 20px;
  background-color: #2c3e50;
  color: #FFF;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
  border: none;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0.8;
}

.scroll-button:hover {
  opacity: 1;
  transform: scale(1.05);
}