.product-list-container {
  max-width: 1200px;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-top: 40px;
  margin-bottom: 30px;
}

.features-title-container{
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 1.8rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}